/* tampilan tablet */
@media screen and (max-width: 768px) {
  #home h1 {
    font-size: 2.2rem;
  }
  #home p {
    font-size: 0.9rem;
  }
  #home h4 {
    font-size: 0.9rem;
  }
  .btn-custom1 {
    width: 50%;
  }

  #about p {
    text-align: justify !important;
  }

  #skill img {
    width: 8%;
  }

  #skill .card {
    margin-top: 20px;
  }
  hr {
    width: 20%;
  }
}

/* tampilan smartphone */
@media screen and (max-width: 428px) {
  hr {
    width: 30%;
  }

  #home h1 {
    font-size: 1.9rem;
  }

  #resume p,
  h1 {
    font-size: 0.7rem;
  }

  .gallery {
    margin-bottom: 10px;
  }

  #sideNav::after {
    display: none;
  }

  #project {
    padding-left: 10px;
    padding-right: 10px;
  }

  #circleBase {
    display: none;
  }

  #skill img {
    width: 14%;
    margin: 15px;
  }

  #skill .card p {
    font-size: 0.7rem;
    text-align: center;
  }

  #project .card {
    display: inline;
  }

  .btn-custom1 {
    width: 50%;
  }

  /* baru */

  #resume {
    padding-left: 0px;
    padding-right: 0px;
    background-size: 50%;
  }

  #skill .card {
    height: 320px;
  }

  #skill .card img {
    width: 30%;
  }

  #certificate img {
    width: 49%;
    padding: 2px;
    border-radius: 5px;
  }

  #about p {
    font-size: 0.7rem;
  }
  #about h5 {
    font-size: 0.9rem;
  }

  #loader {
    background-size: 60%;
  }

  #loader-wrapper .loader-section {
    background-size: 60%;
  }

  #about {
    background-size: 60%;
  }

  #footer h4,
  a {
    text-align: center;
  }

  #footer h4 {
    font-size: 0.9rem;
  }

  #footer a {
    text-decoration: underline;
  }

  #footer svg {
    justify-content: center;
  }

  .contact-email {
    text-align: center;
  }

  .contact-icon {
    text-align: center;
    margin-bottom: 30px;
  }

  #project {
    background-attachment: fixed;
    background-size: 150%;
  }

  #certificate {
    background-size: 200%;
  }

  #sideNav li > a {
    font-size: 1.5rem;
  }
}
